[Desktop Entry]
Name=Kdenlive
Comment=Nonlinear video editor by KDE
Exec=kdenlive
Icon=kdenlive
Terminal=false
Type=Application
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
StartupNotify=true