[Desktop Entry]
Type=Application
Terminal=false
Icon=heroic
Name=Install Heroic Games Laucnher
Exec=~/.local/bin/install-hgl-flatpak
Categories=Utility;
