[Desktop Entry]
Type=Application
Terminal=false
Icon=com.usebottles.bottles
Name=Install Bottles
Exec=~/.local/bin/install-bottles-flatpak
Categories=Utility;
