[Desktop Entry]
Type=Application
Terminal=false
Icon=appimage-cli-manager
Name=Install Bauh (AppImage)
Exec=~/.local/bin/install-bauh-appimage
Categories=System;
