[Desktop Entry]
Comment=
Exec=desktop-config
GenericName=
Icon=preferences-desktop
MimeType=
Name=desktop-config
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DBUS-SubstitueUID=false
X-DBUS-Username=
