[Desktop Entry]
Comment[en_US]=GameMode is a daemon/lib combo for Linux
Comment=GameMode is a daemon/lib combo for Linux
Exec=gamemoded -d
GenericName[en_US]=Optimise Linux system performance on demand
GenericName=Optimise Linux system performance on demand
Icon=preferences-desktop-gaming
MimeType=
Name[en_US]=GameMode
Name=GameMode
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
