[Desktop Entry]
Comment=
Exec=monitor-plasmashell
GenericName=
Icon=preferences-desktop
MimeType=
Name=monitor-plasmashell
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DBUS-SubstitueUID=false
X-DBUS-Username=
