[Desktop Entry]
Comment[en_US]=A collection of Linux drivers for Razer devices
Comment=A collection of Linux drivers for Razer devices.
Exec=openrazer-daemon -F
GenericName[en_US]=OpenRazer
GenericName=OpenRazer
Icon=preferences-desktop-mouse
MimeType=
Name[en_US]=OpenRazer
Name=OpenRazer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
