[Desktop Entry]
Type=Service
Exec=systemctl --user start appimaged
X-KDE-StartupNotify=false
X-GNOME-Autostart-enabled=true
NoDisplay=true

Name=AppImage Daemon
